*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	
  font-size: 62.5%;
	height: 100%;
	scroll-behavior: smooth;
}

h12 {
  text-align: center;
}

body {
  --background-color: hsl(180, 20%, 90%);
	margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  min-height: 100vh;
  padding: 2rem;

  color: hsla(0, 0%, 0%, .6);
  background: var(--background-color);
  text-align: center;
}

h1 {
  font-size: 3.2rem;
  padding-top: 2rem;
	text-align: center;
}

h1+p {
  font-size: 1.8rem;
  padding: 2rem 0 3rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrap {
  margin: 2rem;

  -webkit-transform-style: preserve-3d;

          transform-style: preserve-3d;
  -webkit-transform: perspective(100rem);
          transform: perspective(100rem);

  cursor: pointer;
}

/*.container {
  --rX: 0;
  --rY: 0;
  --bX: 50%;
  --bY: 80%;

  width: 30rem;
  height: 36rem;
  border: 1px solid var(--background-color);
  border-radius: 1.6rem;
  padding: 4rem;

  display: flex;
  align-items: flex-end;

  position: relative;
  -webkit-transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
          transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));

  /*background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("https://images.unsplash.com/photo-1559113513-d5e09c78b9dd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9");*/
  background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("../img/photo-1559113513-d5e09c78b9dd.jpg");
  background-position: var(--bX) var(--bY);
  background-size: 40rem auto;
  box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);

  transition: -webkit-transform .6s 1s;

  transition: transform .6s 1s;

  transition: transform .6s 1s, -webkit-transform .6s 1s;
}

.container::before,
.container::after {
  content: "";

  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;

  position: absolute;
  z-index: 2;

  opacity: .3;
  transition: .3s;
}

.container::before {
  top: 2rem;
  right: 2rem;

  border-bottom-width: 0;
  border-left-width: 0;
}

.container::after {
  bottom: 2rem;
  left: 2rem;

  border-top-width: 0;
  border-right-width: 0;
}

.container--active {
  transition: none;
}

.container--2 {
  -webkit-filter: hue-rotate(80deg) saturate(140%);
          filter: hue-rotate(80deg) saturate(140%);
}

.container--3 {
  -webkit-filter: hue-rotate(160deg) saturate(140%);
          filter: hue-rotate(160deg) saturate(140%);
}

.container p {
  color: hsla(0, 0%, 100%, .6);
  font-size: 2.2rem;
}

.wrap:hover .container::before,
.wrap:hover .container::after {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}*/








.navsidedown{
  height: 60px;
  background-color: rgba(65,65,65,0.88);
	    position: fixed;
    min-width: 100%;
    width: max-content;
    top: 0px;
    left: 0px;
    z-index: 9999;
}
.nav{
	    
		
	height: 0px;
	position: fixed;
    
    width: auto;
    top: 0px;
    left: 0px;
    z-index: 9999;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html{
  -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.navlist li{
  float:left;
height: 80px;
width:100px;
line-height: 60px;
text-align: center;

}
.navlist a{
  color:#012;
  display: block;
  
}
.navlist{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.navlogo{
	    position: relative;
	display: flex;
    align-items: center;
    flex-shrink: 0;
  width: 100px;
  margin-left: 50px;
  float: left;
	
}
.mid{
  margin: auto;
  width: 100%;
}
.button{
  width: 100px;
  height: auto;
  text-align: center;
  user-select: none;
  transition: .3s;
  cursor: pointer;
  z-index: 11;
  text-decoration-line: none;
}

.button li:hover{
  background-color: #669cb6;
  text-decoration-line: none;
  z-index: 11;
}
.button ul li{
  height: 0;
  transition: 0.5s;
  text-decoration-line: none;
  opacity: 0;
  transform: translateY();
  background-color: #80d6f1;
  border-radius: 10px;
  margin-bottom: 5px;
  z-index: 11;
  
}
.button:hover li{
  height: 60px;
  opacity: 1;
  transform: translateY(0);
  position:relative;
  text-decoration-line: none;
}

.button span{
	color:#FFFFFF;
}

.gtext-cs{
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: #7cc3d8;
  font-family:"楷体";
  font-size: 100px;
  color: rgb(241, 173, 223);
  font-weight: 100px;
  margin-left: -50px;
  height: 100px;
  width: 200px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .gtext-cs2{
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: #7cc3d8;
  font-size: 20px;
  font-family:"楷体";
  color: rgb(151, 137, 186);
  font-weight: 10px;
  margin-left: -100px;
  height: 200px;
  width: 900px;
  position: absolute;
  top: 65%;
  left: 60%;
  transform: translate(-50%, -50%);
  }
  .gtext-cs:hover, .gtext-cs2:hover {
  color: rgb(116, 113, 115);
  }
.container1{
  float: left;
  width: 100%;
}
.csqt {
	width:15%;

  height: auto;
  float: left;
	top:30%;
	display:block;
	transition: all 0.7s;
  text-align: left;
  text-decoration: none;
}
.csqt a {
  background: #9fcbf7;
	display:block;
	width: 100%;
	text-decoration:none;
	font-family:Quicksand;
  transition: all 0.5s;
  padding-left:40%;
	border-radius:10px;
	color:#fff9f9;
	padding-top:1em;
	padding-bottom:1em;
  padding-right: 20px;
  margin-left: -20px;
  text-decoration: none;

}

.csqt a:hover{
	padding: left 40%;
  width: 112%;
  background:linear-gradient(rgb(225, 239, 248),rgb(129, 219, 249));
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.header {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0px;
  position: relative;
  left:0px;
	background-color:aliceblue;
}

.content ul li{
  font-size: medium;
  font-style: oblique;
}
.ooo{
  width: auto;
  height: auto;
  background:linear-gradient(rgb(225, 239, 248),rgb(249, 209, 243));
  z-index: -999;
}

.sidebar {
  width: 200px;
  max-height: 350px;
  padding: 2px;
  user-select: none;
  display: block;
  background-color: beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease-in-out;
  margin-right: 0px;
  border-radius: 25px;
}

.sidebar h2 {
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
  transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #333;
  text-decoration: none;
  text-decoration-line: none;
  position: relative;
  transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
  display: block;
  padding: 10px;
  border-radius: 25px;
}

.sidebar a:hover {
  top: -5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  text-decoration-line: none;
  text-align: center;
  transition: top 1.3s ease-in-out, left 1.3s ease-in-out;
  color: #6bd3f3;
}

.sidebar.fixed {
  top: 2px;
}

.sidebar.fixed h2 {
  top: 20px;
  left: 20px;
}

.sidebar.fixed a {
  top: 20px;
  left: 20px;
}


#mybox {
  position: sticky;
  top: 200px;
  left:-100px;
}

.main {
flex: 1;
background-color: #a6d8cc;
text-align: center;
margin-top: 0px;
border-radius: 10px;
}

.main h1 {
font-size: 2em;
font-weight: bold;
margin-top: 0;

}

.main p {
font-size: 1.2em;
line-height: 1.5em;
text-align: left;
padding: 10px;

}
.cs-c{
  width: 100%;
  height: auto;
  align-items: center;
}
.img-cs-p{
  height: 200px;
  width: 100%;
  float: none;
}

.img-cs{
  width: 270px;
  height: 200px;
  margin: 10px;
  margin-left: 30px;
  float: left;
}

.img-cs img{
  width: 270px;
  height: 180px;
  float: left;
  border-radius: 10px;
}
.img-cs img:hover{
  width: 110%;
  height: 200px;
  transition: 0.5s;
  transform: translate(-5%, 5%);
}
.img-cs p{
  text-align: center;
  font-size: 15px;
}
.img-cs img:hover + p {
  display: none;
}
.webbox{
	
}

@media (max-width: 1200px) {
  .gtext-cs{
    font-size:50px ;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",serif;
}
.card {
  width: 90%;
  max-width: 440px;
  color: #fff;
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.card img{
  width: 140px;
  border-radius: 50%;
}

.card h2{
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
}

.card p{
  font-size: 18px;
  margin: 10px auto;
  max-width: 330px;
}

/* styling our footer */
footer   {
  background: #222;
  color: #777;
  padding: 40px;
  text-align: center;
}
footer img   {
  display: block;
  border-radius: 5px;
  width: 80px;
  margin: 0 auto 10px;
}

/* basic site sections */
.site-section   {
  padding-bottom: 50px;
  padding-top: 50px;
}
.site-section-secondary   {
  background: #EFEFEF;
}
.site-section-inside   {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.section-header {
  text-align: center;
  margin-bottom: 30px;
}
.section-header h2  {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
}

.cardimg{
  width: 140px;
  border-radius: 50%;
}




.kk {
	background-color: bisque;
}

.kk2 {
	background-color: aquamarine;
}

.kk3 {
	background-color: #f2d987;
}

.kk4 {
	background-color:#63b7b9;
}

.scene_book {
    width: 45%;
    height: 90%;
    margin: 5% 5% 5% 50%;
  
  perspective: 1000px;
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
  
  transform-style: preserve-3d;
}

.page {
  cursor: pointer;
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;

  transition: 1.5s transform;
  transform-style: preserve-3d;  
  transform-origin: left center;
}
.front,
.back {
  position: absolute;
  
  width: 100%;
  height: 100%;
  padding: 10% 5% 5%;
  box-sizing: border-box;
  
  backface-visibility: hidden;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
  background: linear-gradient(to bottom right, #fff, #ccc);
}
.back {
  transform: rotateY(180deg);
}

.page.activebook {
  z-index: 1;
}
.page.flipped {
  transform: rotateY(-180deg);
}
.page.flipped:last-of-type {
  z-index: 1;
}
.qr {
  margin: 50px auto;
  max-width: 50%;
}
.qr img {
  display: block;
}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .scene {
    width: 90%;
    height: 90%;
    margin: 5%;
}